%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-l
        Details about cookies on
        = service_name
      %p
        = service_name
        puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.
        Find out more about the cookies we use, what they’re for and when they expire.
      = render 'ga'
      = render 'session'
      = render 'cookie_control'
